/*--------CSS RESET---------*/
body, h1, h2, h3, h4, h5, h6, p {
	font-size: 16px;
	font-weight: 400;
	padding: 0;
	margin: 0;
}

/*---- BODY STYLING -------*/

body {
	margin: 0;
	background-color: #e88f0f;
	font-family: 'Montserrat', sans-serif;
}

/*----- content Styling------*/

div#content {
	padding: 1em 2% 1em 2%;
}

div#content h1 {
	font-size: 2em;
	border-bottom: black solid 3px;
	text-shadow: 1px 1px 1px;
}

div#content h2 {
	font-size: 1.5em;
	padding-top: 1em;
	padding-bottom: .5em;
}

div#content a {
	font-size: 1.2em;
	padding-top: .5em;
	padding-bottom: .8em;
	text-decoration: none;
	color: #8E6B53;
	border: none;
}

div#content a:hover{
color: white;
}

div#content p.arab {
	padding-bottom: .5em;
}

/*----- Header Styling------*/

header {
	background-color: #E8700C;
	border-bottom: 2px solid grey;
	border-top: 2px solid grey;     
	border-left: 2px solid grey; 
	border-right: 2px solid grey;
	margin: 0;
	padding-left: 20px;
	padding-bottom: 10px;
	padding-top: 10px;
}
header h1 {
	color: #8E700C;
	letter-spacing: 2px;
	font-size: xx-large;
	text-shadow: 1px 2px 2px;
}

header h2 {
	color: #8E700C;
	font-size: x-large;
	text-shadow: 1px 2px 2px;
	letter-spacing: 1px;
}

/*--------Mobile NAV styling---------*/
@media only screen and (max-width: 650px) {
nav{
	background-color: #451703;
	padding: .3em;
}

nav ul {
padding: 0;
margin: 0;
}

nav ul li a{
	display: block;
	text-align: center;
	text-decoration: none;
	border: solid 2px white;
	border-radius: 7px;
	box-shadow: 1px 1px 2px;3
	padding: 1em;
	margin: .2em;
	background-color: #e8551a;
	font-weight: bold;
	color: #FFB7A4;
	background: linear-gradient(to top, grey 0%, #451703 100%) 
}

nav ul.menu a:hover {
	color: white;
}

nav ul li.active a {
	background: #451703;
}

}




/*--------Desktop/Tablet NAV styling---------*/
@media only screen and (min-width: 651px) {

nav {
	background-color: #451703;
	background: linear-gradient(to top, grey 0%, ##451703 100%)
}

nav ul.menu {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

nav ul.menu a {
	float: left;
	color: #FFB7A4;
	padding: 10px 2em;
	text-decoration: none;
	border-right: 1px solid grey;
	background: linear-gradient(to top, grey 0%, #451703 100%)
}

nav ul.menu a:hover {
	color: white;
}

nav ul li.active a {
	background: #451703;
}


/*----- photos Styling------*/

figure.cities {
	background-color: #8E6B53;
	float: left;
	padding: .2em;
	border: 2px solid grey;
	width: 280px;
	height: 230px;
	padding-top: 2px;
	padding-bottom: 2px;
	text-align: center;
	font-size: large;
}

figure.russia {
	float: right;
	text-align: center;
	border: 2px solid grey;
	padding: .2em;
	width: 310px;
	height: 275px;
	background-color: #8E6B53;
}

figure.delta {
	float: right;
	text-align: center;
	border: 2px solid grey;
	padding: .2em;
	width: 310px;
	height: 275px;
	background-color: #8E6B53;
}

/*------forms styling------*/

form label {
	display: block;
	padding-bottom: 8px;
}

form fieldset {
	border: solid 2px;
	font-weight: bolder;
	font-size: large;
	padding-top: 5px;
	border-radius: 8px;
	margin: .5em;
	background-color: #AFCCE8;
}

form legend {
	border: solid 2px;
	border-radius: 8px;
	margin: 1em;
	font-size: large;
	background-color: #E8700C;
}

form input.send {
	border-radius: 8px;
	width: 11em;
	font-size: large;
	display: center;
	margin: 8px;
	padding: .75em;
	box-shadow: 1px 1px 2px black;
}

form input.lol {
	 display: block;
	 width: 30em;
	 border-radius: 5px;
}
/*--------Video CSS styling---------*/
iframe {
	width: 96%;
	margin-left: 2%;
	height: 330px;
	box-shadow: 1px 1px 2px #777;
	border: none;
}

/*--------footer styling--------*/
footer {
	background-color: #E8700C;
	color: #8E700C;
	border-top: 2px solid grey;
	border-bottom: 2px solid grey;
	padding: .5em .5em;
	text-align: center;
}

footer {
	clear: both;
}


/*--------Extra styling--------*/

div.noCollapse {
	clear: both;
}

