/*--------CSS RESET---------*/
body, h1, h2, h3, h4, h5, h6, p {
	font-size: 16px;
	font-weight: 400;
	padding: 0;
	margin: 0;
}




/*--------body styling---------*/

body {
	margin:0;
	background-color: #89a899;
	font-family: 'Philosopher', sans-serif;
}


/*--------Header styling---------*/

header {
	background-color: #FFE7D8;
	border-bottom: 2px solid grey;
	border-top: 2px solid grey;      /*consider to simplify*/
	border-left: 2px solid grey; 
	border-right: 2px solid grey;
	margin: 0;

}


header h1 {
	color: #e8551a;
	letter-spacing: 2px;
	margin-left: 1.5%;
	padding-bottom: 0px;
	font-size: xx-large;
}

header h2 {
	color: #e8551a;
	margin-left: 1.5%;
	font-size: x-large;
}




/*--------NAV styling---------*/

nav {
	background-color: #849ea8;
}

nav ul.menu {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

nav ul.menu a {
	float: left;
	color: #001fa8;
	padding: 2px 1em;
	text-decoration: none;
	border-right: 1px solid grey;
}

nav ul.menu a:hover {
	color: white;
}


/*--------lists styling---------*/

ol.numbers {
	list-style-type: circle;
}

ul.withoutNumbers {
	list-style-type: unset;
}

dt.definitions {
	font-size: large;
}


/*--------content styling---------*/

div#content{
	padding: 1em 2% 1em 2%;
}

div#content h1 {
	font-size: xx-large;
	padding-bottom: .5em;
	text-align: left;
	font-weight: 900;
}

div#content h2 {
	font-weight: 700;
	font-size: x-large;
	padding-bottom: .5em;
	padding-top: .5em;
	text-decoration: underline;
}

div.passion {
	padding-bottom: .5em;
}

div#content p {
	line-height: 150%;
	padding-bottom: .5em;

}


div#content blockquote {
	color: black;
	font-style: italic;		
}

div#content dl {
	line-height: 150%;
	margin: 0;
}

div#content a {
	text-decoration: none;
	color: #001fa8;
}

div#content a.email {
	padding-left: .5em;
}



/*--------footer styling--------*/
footer {
	background-color: #FFE7D8;
	color: #e8551a;
	border-top: 2px solid grey;
	border-bottom: 2px solid grey;
	padding: .5em .5em;
	text-align: center;
}

footer {
	clear: both;

}



/*--consolidate the top and bottom tags to make it more simple with code--*/



/*---- Image Styling -------*/

figure.crew {
	background-color: white;
	float: left;
	padding: .3em;
	border: 2px solid grey;
	width: 190px;
	height: 355px;
	padding-top: 3px;
	padding-bottom: 3px;
	text-align: center;
}

figure.crew figcaption {
	font-size: .75em;
	font-family: Verdana;
	text-align: center;
}

figure.crew span {
	display: block;
	color: grey;
	font-size: 1.5em;

}

figure.timp {
	width: 20%;
	margin: 0;
	float: right;
	padding-left: 5px;
}

figure.timp img {
	width: 100%;

}

figure.timp figcaption{
	text-align: center;
	font-family: verdana;

}

figure.view {
	width: 20%;
	margin: 0;
	float: right;
	padding-left: 4%;
	margin-left: 0;

}

figure.timp img {
	width: 100%;
}

figure.view figcaption {
	text-align: center;
	font-family: verdana;
	padding-bottom: 5px;
}

figure.view img {
	width: 100%;
}


/*------- Styling for Forms -------*/

form.bread label {
	display: block;
	padding-bottom: 5px;
}

form.bread fieldset {
	background-color: grey;
	border: solid 1px;
	margin: 1.5em;
	border-radius: 10px;
}

form.bread legend {
	background-color: #a8a8a8;
	border: solid 1px;
	font-weight: bold;
	font-size: large;
	border-radius: 8px;
	padding: 2px;
}

form.bread span {
	color: black;
}

form.bread input.happy {
	display: block;
	border-radius: 6px;
	width: 25em;
}

form.bread input.send {
	border: 1px solid black;
	border-radius: 10px;
	width: 10em;
	font-weight: bolder;
	display: block;
	margin: 10px;
	padding: 1em;

}

/*--------Extra styling--------*/

div.noCollapse {
	clear: both;
}

